/.phpunit.cache
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/storage/mysql
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/vendor
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/auth.json
/.fleet
/.idea
/.nova
/.vscode
/.zed

# Force Git to track uploaded memes and storage directories
!/storage/app/
!/storage/app/public/
!/storage/app/public/**

# Track database file so cloned repos have your users and meme data
!/database/database.sqlite
